body{
    margin: 0;
    text-align: center;
    display:flex;
    background-color: rgb(68, 68, 68);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container{
    margin: 0 auto;
    width: 90%;
    
}
header{
    margin-top: 0;
    width: 100%;
    font-size: 40px;
    background-color: rgb(171, 174, 177);
    border: 1px solid black;
    border-radius: 0 0 40px 40px;
    box-shadow: 0px 3px 5px black;
    transition: 0.5s ease-in-out;

}
main{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
footer{
    margin-top: 1rem;
    width: 100%;
    font-size: 20px;
    background-color: rgb(171, 174, 177);
    border: 1px solid black;
    border-radius:  40px 40px 0 0;
    box-shadow: 0px 0px 5px 2px black;
    transition: 0.5s ease-in-out;

}
img{
    width: 20rem;
    border-radius: 18px;
}

.card{
    border: 1px solid black;
    border-radius: 19px;
    box-shadow: 0px 0px 6px 2px black;
    background-color: rgb(184, 186, 187);
    transition: 0.3s ease-in-out;
}
.one{ 
    display: flex;
    gap: 20px;
    }
.two{
    display: flex;
    gap: 20px;
}
.three{
    display: flex;
    gap: 20px;
}
.card:hover{
    padding: 1rem;
    box-shadow: 0px 0px  10px 6px rgb(3, 94, 231);
    transition: 0.2s linear;
}
header:hover{
    box-shadow: 1px 1px 15px 5px rgb(252, 3, 3);
    transition: 0.5s linear;
    text-shadow: 0px 0px 4px  rgb(231, 3, 3);
}
footer:hover{
    box-shadow: 0px 0px 15px 4px rgb(255, 0, 0) ;
    transition: 0.5s linear;
    text-shadow: 0px 0px 2px  rgb(231, 3, 3);
    
}